<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta</key>
	<dict>
		<key>capitalizeFirstLetter</key>
		<true/>
	</dict>
	<key>v5</key>
	<dict>
		<key>arrive</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर पहुंच गए हैं </string>  <!-- You have arrived at your {nth} destination-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>आप बाईं ओर अपने {end} गंतव्य पर पहुंच गए हैं</string><!--You have arrived at your {nth} destination, on the left-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>आप दाईं ओर अपने {end} गंतव्य पर पहुंच गए हैं</string> <!--You have arrived at your {nth} destination, on the right-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>आप बाईं ओर अपने {end} गंतव्य पर पहुंच गए हैं </string> <!--You have arrived at your {nth} destination, on the left-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर, दाईं ओर पहुंच गए हैं</string><!--You have arrived at your {nth} destination, on the right-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर, बाईं ओर आ चुके हैं </string><!--You have arrived at your {nth} destination, on the left-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर, दाईं ओर पहुंच गए हैं</string><!--You have arrived at your {nth} destination, on the right-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर सीधे पहुंच गए हैं</string><!--You have arrived at your {nth} destination, straight ahead-->
			</dict>
		</dict>
		<key>constants</key>
		<dict>
			<key>direction</key>
			<dict>
				<key>east</key>
				<string>पूर्व</string>
				<key>north</key>
				<string>उत्तर</string>
				<key>northeast</key>
				<string>नॉर्थ ईस्ट</string>
				<key>northwest</key>
				<string>उत्तर पश्चिम</string>
				<key>south</key>
				<string>दक्षिण</string>
				<key>southeast</key>
				<string>दक्षिण पूर्व</string>
				<key>southwest</key>
				<string>दक्षिण पश्चिम</string>
				<key>west</key>
				<string>पश्चिम</string>
			</dict>
			<key>lanes</key>
			<dict>
				<key>ox</key>
				<string>बाईं ओर रहें</string>
				<key>oxo</key>
				<string>बाएँ या दाएँ रखें</string><!--Keep left or right-->
				<key>xo</key>
				<string>दाईं ओर चलते रहें</string><!--Keep right-->
				<key>xox</key>
				<string>बीच में रखें</string><!--Keep in the middle-->
			</dict>
			<key>modifier</key>
			<dict>
				<key>left</key>
				<string>बाएं</string>
				<key>right</key>
				<string>दायें</string>
				<key>sharp left</key>
				<string>पूर्ण बाएं </string><!--sharp left-->
				<key>sharp right</key>
				<string>पूर्ण दायें</string><!--sharp right-->
				<key>slight left</key>
				<string>थोड़ा बाएं</string><!--slight left-->
				<key>slight right</key>
				<string>थोड़ा दायें</string>
				<key>straight</key>
				<string>सीधा</string>
				<key>uturn</key>
				<string>यू टर्न</string>
			</dict>
			<key>ordinalize</key>
			<dict>
				<key>1</key>
				<string>1st</string>
				<key>10</key>
				<string>10th</string>
				<key>2</key>
				<string>2nd</string>
				<key>3</key>
				<string>3rd</string>
				<key>4</key>
				<string>4th</string>
				<key>5</key>
				<string>5th</string>
				<key>6</key>
				<string>6th</string>
				<key>7</key>
				<string>7th</string>
				<key>8</key>
				<string>8th</string>
				<key>9</key>
				<string>9th</string>
			</dict>
		</dict>
		<key>continue</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें </string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Turn {modifier} towards {destination}-->
				<key>exit</key>
				<string>{way_name} पर {modifier} मुड़ें</string><!--Turn {modifier} onto {way_name}-->
				<key>name</key>
				<string>{way_name} पर बने रहने के लिए {modifier} मुड़ें</string><!--Turn {modifier} to stay on {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>पूरी तरह से बाईं ओर ले जाएं</string><!--Make a sharp left-->
				<key>destination</key>
				<string>{destination} की ओर ठीक बाईं ओर मुड़ें</string><!--Make a sharp left towards {destination}-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए ठीक बाईं ओर मुड़ें</string><!--Make a sharp left to stay on {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>पूरी तरह से दाईं ओर ले जाएं </string><!--Make a sharp right-->
				<key>destination</key>
				<string> {destination} की ओर ठीक दाईं ओर मुड़ें  {destination}</string><!--Make a sharp right towards-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए ठीक दाईं ओर मुड़ें </string><!--Make a sharp right to stay on {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>थोड़ा बाईं ओर ले जाएं</string><!--Make a slight left-->
				 <key>destination</key>
				<string>{destination} की ओर थोड़ा बाईं ओर मुड़ें</string><!--Make a slight left towards {destination}-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए थोड़ा बाईं ओर मुड़ें</string><!--Make a slight left to stay on {way_name}-->
				</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>थोड़ा से दाहिने ओर ले जाएं </string><!--Make a slight right-->
				<key>destination</key>
				<string> {destination} की ओर थोड़ा दाहिने ओर मुड़ें  {destination}</string><!--Make a slight right towards-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए थोड़ा दाहिने ओर मुड़ें </string><!--Make a slight right to stay on {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>सीधा जारी रखें</string><!--Continue straight-->
				<key>destination</key>
				<string>{destination} की ओर बढ़ते रहें</string><!--Continue towards {destination}-->
				<key>distance</key>
				<string>{distance} सीधे जाते रहे</string><!--Continue straight for {distance}-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए सीधे चलते रहें</string><!--Continue straight to stay on {way_name}-->
				<key>namedistance</key>
				<string>{way_name} पर {distance} के लिए जारी रखें</string><!--Continue on {way_name} for {distance}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>एक यू - टर्न लें</string>
				<key>destination</key>
				<string>{destination} की ओर यू-टर्न लें </string><!--Make a U-turn towards {destination}-->
				<key>name</key>
				<string>यू-टर्न लें और {way_name} पर जारी रखें</string><!--Make a U-turn and continue on {way_name}-->
			</dict>
		</dict>
		<key>depart</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>हेड{direction}</string>
				<key>name</key>
				<string>/*{way_name} पर {direction} पर जाएं*/</string><!--Head {direction} on {way_name}-->
			</dict>
		</dict>
		<key>en</ of road</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें </string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Turn {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} पर {modifier} मुड़ें</string><!--Turn {modifier} onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>सीधे चलते रहें</string><!--Continue straight-->
				<key>destination</key>
				<string>सीधे {गंतव्य} की ओर बढ़ते रहें {destination}</string><!--Continue straight towards-->
				<key>name</key>
				<string>सीधे {way_name} पर चलते रहें</string><!--Continue straight onto {way_name}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>सड़क के अंत में यू-टर्न लें</string><!--Make a U-turn at the end of the road-->
				<key>destination</key>
				<string>सड़क के अंत में {गंतव्य} की ओर यू-टर्न लें</string><!--Make a U-turn towards {destination} at the end of the road-->
				<key>name</key>
				<string>सड़क के अंत में {way_name} पर यू-टर्न लें</string><!--Make a U-turn onto {way_name} at the end of the road-->
			</dict>
		</dict>
		<key>exit rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Make a {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} की तरफ़ {modifier} मुड़ें</string><!--Make a {modifier} onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बाएं मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर बाएं मुड़ें</string><!--Turn left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाएं मुड़ें</string><!--Turn left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दायें मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर दाएं मुड़ें</string><!--Turn right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर दाएं मुड़ें</string><!--Turn right onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>आगे सीधे बढ़ो</string><!--Go straight-->
				<key>destination</key>
				<string>सीधे {destination} की ओर जाएं</string><!--Go straight towards {destination}-->
				<key>name</key>
				<string>सीधे {way_name} की ओर जाएं</string><!--Go straight onto {way_name}-->
			</dict>
		</dict>
		<key>exit roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Make a {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} की तरफ़ {modifier} मुड़ें</string><!--Make a {modifier} onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बाएं मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर बाएं मुड़ें</string><!--Turn left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाएं मुड़ें</string><!--Turn left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दायें मुड़ें</string>
				<key>destination</key>
				<string>"{destination} की ओर दाएं मुड़ें"</string><!--Turn right towards {destination} -->
				<key>name</key>
				<string>{way_name} पर दाएं मुड़ें</string><!--Turn right onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>सीधे जाइए</string><!--Go straight-->
				<key>destination</key>
				<string>सीधे {गंतव्य} की ओर जाएं</string><!--Go straight towards {destination}-->
				<key>name</key>
				<string>सीधे {way_name} पर जाएं</string><!--Go straight onto {way_name}-->
			</dict>
		</dict>
		<key>fork</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>दोराहे पर {modifier} रखें</string><!--Keep {modifier} at the fork-->
				<key>destination</key>
				<string>दोराहे पर {गंतव्य} की ओर {modifier} रहें</string><!--Keep {modifier} at the fork towards {destination}-->
				<key>name</key>
				<string>{way_name} पर दोराहे पर {modifier} रहें</string><!--Keep {modifier} at the fork onto {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>दोराहे के पास तेज बायीं ओर मुड़ें</string><!--Take a sharp left at the fork-->
				<key>destination</key>
				<string>दोराहे पर {destination} की ओर ठीक बाईं ओर मुड़ें</string><!--Take a sharp left at the fork towards {destination}-->
				<key>name</key>
				<string>{way_name} पर दोराहे पर ठीक बाईं ओर मुड़ें</string><!--Take a sharp left at the fork onto {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>दोराहे के पास तेज दाहिने ओर मुड़ें</string><!--Take a sharp right at the fork-->
				<key>destination</key>
				<string>दोराहे पर {destination} की ओर ठीक दाहिने ओर मुड़ें</string><!--Take a sharp right at the fork towards {destination}-->
				<key>name</key>
				<string>{way_name} पर दोराहे पर ठीक दाहिने ओर मुड़ें</string><!--Take a sharp right at the fork onto {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>दोराहे पर बाएं रखें</string><!--Keep left at the fork-->
				<key>destination</key>
				<string>दोराहे पर {destination} की ओर बाएं रहें</string><!--Keep left at the fork towards {destination}-->
				<key>name</key>
				<string>दोराहे पर {way_name} पर बाएं बने रहें</string><!--Keep left at the fork onto {way_name}-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>दोराहे पर दाहिने रखें</string><!--Keep right at the fork-->
				<key>destination</key>
				<string>दोराहे पर {destination} की ओर दाहिने रहें</string><!--Keep right at the fork towards {destination}-->
				<key>name</key>
				<string>दोराहे पर {way_name} पर दाहिने बने रहें</string><!--Keep right at the fork onto {way_name}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>यू-टर्न लें</string>
				<key>destination</key>
				<string>{गंतव्य} की ओर यू-टर्न लें</string><!--Make a U-turn towards {destination}-->
				<key>name</key>
				<string>{way_name} पर यू-टर्न लें</string><!--Make a U-turn onto {way_name}-->
			</dict>
		</dict>
		<key>merge</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>मर्ज {modifier}</string><!--Merge {modifier}-->
				<key>destination</key>
				<string>{destination} की ओर {modifier} मर्ज करें</string><!--Merge {modifier} towards {destination}-->
				<key>name</key>
				<string>{way name} पर {modifier} मर्ज करें</string><!--Merge {modifier} onto {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>बाएं मर्ज करें</string><!--Merge left-->
				<key>destination</key>
				<string>{destination} की ओर बाएं मर्ज करें</string>><!--Merge left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाईं ओर मर्ज करें</string><!--Merge left onto {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>दाईं ओर मर्ज करें</string><!--Merge right-->
				<key>destination</key>
				<string>{गंतव्य} की ओर दाईं ओर मर्ज करें</string><!--Merge right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर सीधे मिलें</string><!--Merge right onto {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>बाएं मर्ज करें</string><!--Merge left-->
				<key>destination</key>
				<string>{destination} की ओर बाएं मर्ज करें</string><!--Merge left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाईं ओर मर्ज करें</string><!--Merge left onto {way_name}-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>दाईं ओर मर्ज करें</string><!--Merge right-->
				<key>destination</key>
				<string>{destination} की ओर दाईं ओर मर्ज करें</string><!--Merge right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर सीधे मिलें</string><!--Merge right onto {way_name}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>यू-टर्न लें</string><!--TAKE U-TURN-->
				<key>destination</key>
				<string>{destination} की ओर यू-टर्न लें</string><!--Make a U-turn towards {destination}-->
				<key>name</key>
				<string>{way_name} पर यू-टर्न लें</string><!--Make a U-turn onto {way_name}-->
			</dict>
		</dict>
		<key>modes</key>
		<dict>
			<key>ferry</key>
			<dict>
				<key>default</key>
				<string>नौका ले</string><!--Take the ferry-->
				<key>destination</key>
				<string>नौका को {गंतव्य} की ओर ले जाएं</string><!--Take the ferry towards {destination}-->
				<key>name</key>
				<string>नौका को {way_name} की ओर ले जाएं</string><!--Take the ferry {way_name}-->
			</dict>
		</dict>
		<key>new name</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier}जारी रखें </string><!--CONTINUE {modifier}-->
				<key>destination</key>
				<string>{destination} की ओर {modifier} जारी रखें </string><!--Continue {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} पर {modifier} जारी रखें </string><!--Continue {modifier} onto {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>तेज बाएं मुड़ें</string><!--Take a sharp left-->
				<key>destination</key>
				<string>{destination} की ओर ठीक बाईं ओर मुड़ें</string><!--Take a sharp left towards {destination}-->
				<key>name</key>
				<string>{way_name} की ओर ठीक बाईं ओर मुड़ें</string><!--Take a sharp left onto {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>एक तेज दाएं मुड़ें</string><!--Take a sharp right-->
				<key>destination</key>
				<string>{destination} की ओर ठीक दाएं मुड़ें</string><!--Take a sharp right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर ठीक दाएं मुड़ें</string><!--Take a sharp right onto {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>थोड़ा बाएँ जारी रखें</string><!--Continue slightly left-->
				<key>destination</key>
				<string>{destination} की ओर थोड़ा बाएं चलते रहें</string><!--Continue slightly left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर थोड़ा बाएं चलते रहें</string><!--Continue slightly left onto {way_name}-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>थोड़ा दायें जारी रखें </string><!--Continue slightly right-->
				<key>destination</key>
				<string>{destination} की ओर थोड़ा आगे बढ़ें</string><!--Continue slightly right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर थोड़ा दाएं चलते रहें</string><!--Continue slightly right onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>सीधा जारी रखें</string><!--Continue straight-->
				<key>destination</key>
				<string>{गंतव्य} की ओर बढ़ते रहें</string><!--Continue towards {destination}-->
				<key>name</key>
				<string>{way_name} पर जारी रखें</string><!--Continue onto {way_name}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>एक यू - टर्न लें</string><!--Make a U-turn-->
				<key>destination</key>
				<string>{गंतव्य} की ओर यू-टर्न लें</string><!--Make a U-turn towards {destination}-->
				<key>name</key>
				<string>{way_name} पर यू-टर्न लें</string><!---Make a U-turn onto {way_name}-->
			</dict>
		</dict>
		<key>notification</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} जारी रखें</string><!--Continue {modifier}-->
				<key>destination</key>
				<string>{गंतव्य} की ओर {modifier} जारी रखें </string><!--Continue {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} पर {modifier} जारी रखें</string><!--Continue {modifier} onto {way_name}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>यू-टर्न लें</string><!--Make a U-turn-->
				<key>destination</key>
				<string>{गंतव्य} की ओर यू-टर्न लें</string><!--Make a U-turn towards {destination}-->
				<key>name</key>
				<string>{way_name} पर यू-टर्न लें</string><!--Make a U-turn onto {way_name}-->
			</dict>
		</dict>
		<key>off ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>रैंप लें</string><!--Take the ramp-->
				<key>destination</key>
				<string>{गंतव्य} की ओर रैंप लें</string><!--Take the ramp towards {destination}-->
				<key>exit</key>
				<string>बाहर निकलें {exit}</string><!--Take exit {exit}-->
				<key>exit_destination</key>
				<string>{destination} की ओर {exit} निकलें</string><!--Take exit {exit} towards {destination}-->
				<key>name</key>
				<string>{way_name} पर रैंप पर चलें</string><!--Take the ramp onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बाईं ओर रैंप लें</string><!--Take the ramp on the left-->
				<key>destination</key>
				<string>बाईं ओर रैंप लें {गंतव्य} की ओर </string><!--Take the ramp on the left towards {destination}-->
				<key>exit</key>
				<string>बाईं ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the left-->
				<key>exit_destination</key>
				<string>बाईं ओर {destination} की ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the left towards {destination}-->
				<key>name</key>
				<string>बाईं ओर रैंप लें {way_name} पर</string><!--Take the ramp on the left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दायें ओर रैंप लें</string><!--Take the ramp on the right-->
				<key>destination</key>
				<string>दायें ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the right towards {destination}-->
				<key>exit</key>
				<string>दायें ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the right-->
				<key>exit_destination</key>
				<string>दायें ओर {destination} की ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the right towards {destination}-->
				<key>name</key>
				<string>दायें ओर रैंप लें {way_name} पर</string><!--Take the ramp on the right onto {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>बाईं ओर रैंप लें</string><!--Take the ramp on the left-->
				<key>destination</key>
				<string>बाईं ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the left towards {destination}-->
				<key>exit</key>
				<string>बाईं ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the left-->
				<key>exit_destination</key>
				<string>बाईं ओर {destination} की ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the left towards {destination}-->
				<key>name</key>
				<string>बाईं ओर रैंप लें {way_name} पर</string><!--Take the ramp on the left onto {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>दायें ओर रैंप लें</string><!--Take the ramp on the right-->
				<key>destination</key>
				<string>दायें ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the right towards {destination}-->
				<key>exit</key>
				<string>दायें ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the right-->
				<key>exit_destination</key>
				<string>दायें ओर {destination} की ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the right towards {destination}-->
				<key>name</key>
				<string>दायें ओर रैंप लें {way_name} पर</string><!--Take the ramp on the right onto {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>बाईं ओर रैंप लें</string><!--Take the ramp on the left-->
				<key>destination</key>
				<string>बाईं ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the left towards {destination}-->
				<key>exit</key>
				<string>बाईं ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the left-->
				<key>exit_destination</key>
				<string>बाईं ओर {destination} की ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the left towards {destination}-->
				<key>name</key>
				<string>बाईं ओर रैंप लें {way_name} पर</string><!--Take the ramp on the left onto {way_name}-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>दायें ओर रैंप लें</string><!--Take the ramp on the right-->
				<key>destination</key>
				<string>दायें ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the right towards {destination}-->
				<key>exit</key>
				<string>दायें ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the right-->
				<key>exit_destination</key>
				<string>दायें ओर {destination} की ओर {exit} से बाहर निकलें</string><!--Take exit {exit} on the right towards {destination}-->
				<key>name</key>
				<string>दायें ओर रैंप लें {way_name} पर</string><!--Take the ramp on the right onto {way_name}-->
			</dict>
		</dict>
		<key>on ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>रैंप लें</string><!--Take the ramp-->
				<key>destination</key>
				<string>{गंतव्य} की ओर रैंप लें</string><!--Take the ramp towards {destination}-->
				<key>name</key>
				<string>{way_name} पर रैंप पर चलें</string><!--Take the ramp onto {way_name}-->
				
				
				
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बाईं ओर रैंप लें</string><!--Take the ramp on the left-->
				<key>destination</key>
				<string>बाईं ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the left towards {destination}-->
				<key>name</key>
				<string>बाईं ओर रैंप लें {way_name} पर</string><!--Take the ramp on the left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दायें ओर रैंप लें</string><!--Take the ramp on the right-->
				<key>destination</key>
				<string>दायें ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the right towards {destination}-->
				<key>name</key>
				<string>दायें ओर रैंप लें {way_name} पर</string><!--Take the ramp on the right onto {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>बाईं ओर रैंप लें</string><!--Take the ramp on the left-->
				<key>destination</key>
				<string>बाईं ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the left towards {destination}-->
				<key>name</key>
				<string>बाईं ओर रैंप लें {way_name} पर</string><!--Take the ramp on the left onto {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>दायें ओर रैंप लें</string><!--Take the ramp on the right-->
				<key>destination</key>
				<string>दायें ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the right towards {destination}-->
				<key>name</key>
				<string>दायें ओर रैंप लें {way_name} पर</string><!--Take the ramp on the right onto {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>बाईं ओर रैंप लें</string><!--Take the ramp on the left-->
				<key>destination</key>
				<string>बाईं ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the left towards {destination}-->
				<key>name</key>
				<string>बाईं ओर रैंप लें {way_name} पर</string><!--Take the ramp on the left onto {way_name}-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>दायें ओर रैंप लें</string><!--Take the ramp on the right-->
				<key>destination</key>
				<string>दायें ओर रैंप लें {गंतव्य} की ओर</string><!--Take the ramp on the right towards {destination}-->
				<key>name</key>
				<string>दायें ओर रैंप लें {way_name} पर</string><!--Take the ramp on the right onto {way_name}-->
			</dict>
		</dict>
		<key>phrase</key>
		<dict>
			<key>name and ref</key>
			<string>{name} ({ref})</string>
			<key>one in distance</key>
			<string>In {distance}, {instruction_one}</string>
			<key>two linked</key>
			<string>{instruction_one}, then {instruction_two}</string>
			<key>two linked by distance</key>
			<string>{instruction_one}, then, in {distance}, {instruction_two}</string>
		</dict>
		<key>rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>रोटरी में प्रवेश करें</string><!--Enter the rotary-->
					<key>destination</key>
					<string>रोटरी में प्रवेश करें और {गंतव्य} की ओर बाहर निकलें</string><!--Enter the rotary and exit towards {destination}-->
					<key>name</key>
					<string>रोटरी में प्रवेश करें और {way_name} पर बाहर निकलें</string><!--Enter the rotary and exit onto {way_name}-->
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>रोटरी में प्रवेश करें और {निकास_नंबर} से बाहर निकलें</string><!--Enter the rotary and take the {exit_number} exit-->
					<key>destination</key>
					<string>रोटरी में प्रवेश करें और {exit_number} से {destination} की ओर निकलें</string><!--Enter the rotary and take the {exit_number} exit towards {destination}-->
					<key>name</key>
					<string>रोटरी में प्रवेश करें और {way_name} पर {exit_number} से बाहर निकलें</string><!--Enter the rotary and take the {exit_number} exit onto {way_name}-->
				</dict>
				<key>name</key>
				<dict>
					<key>default</key>
					<string>Enter {rotary_name}</string>
					<key>destination</key>
					<string>{रोटरी_नाम} दर्ज करें और {गंतव्य} की ओर निकलें</string><!--Enter {rotary_name} and exit towards {destination}-->
					<key>name</key>
					<string>{रोटरी_नाम} दर्ज करें और {way_name} पर बाहर निकलें</string><!--Enter {rotary_name} and exit onto {way_name}-->
				</dict>
				<key>name_exit</key>
				<dict>
					<key>default</key>
					<string>{rotary_name} दर्ज करें और {exit_number} से बाहर निकलें</string><!--Enter {rotary_name} and take the {exit_number} exit-->
					<key>destination</key>
					<string>{rotary_name} दर्ज करें और {exit_number} से {destination} की ओर निकलें</string><!--Enter {rotary_name} and take the {exit_number} exit towards {destination}-->
					<key>name</key>
					<string>{rotary_name} दर्ज करें और {exit_number} से {way_name} पर निकलें</string><!--Enter {rotary_name} and take the {exit_number} exit onto {way_name}-->
				</dict>
			</dict>
		</dict>
		<key>roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>राउंडअबाउट में प्रवेश करें</string><!---Enter the roundabout-->
					<key>destination</key>
					<string>राउंडअबाउट में प्रवेश करें और {destination} की ओर निकलें</string><!--Enter the roundabout and exit towards {destination}-->
					<key>name</key>
					<string>राउंडअबाउट में प्रवेश करें और {way_name} पर बाहर निकलें</string><!---Enter the roundabout and exit onto {way_name}-->
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>राउंडअबाउट में प्रवेश करें और {exit_number} से बाहर निकलें</string><!--Enter the roundabout and take the {exit_number} exit-->
					<key>destination</key>
					<string>राउंडअबाउट में प्रवेश करें और {exit_number} से {destination} की ओर निकलें</string><!--Enter the roundabout and take the {exit_number} exit towards {destination}-->
					<key>name</key>
					<string>राउंडअबाउट में प्रवेश करें और {way_name} पर {exit_number} से बाहर निकलें।</string><!--Enter the roundabout and take the {exit_number} exit onto {way_name}-->
				</dict>
			</dict>
		</dict>
		<key>roundabout turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>राउंडअबाउट पर {बाएं} मुड़ें</string><!--At the roundabout make a {modifier}-->
				<key>destination</key>
				<string>राउंडअबाउट पर {destination} की ओर {modifier} बने</string><!---At the roundabout make a {modifier} towards {destination}-->
				<key>name</key>
				<string>राउंडअबाउट पर {way_name} पर {modifier} मुड़ें</string><!---At the roundabout take a {modifier} onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>चौराहे पर बाएं मुड़ें</string><!---At the roundabout turn left-->
				<key>destination</key>
				<string>चौराहे पर {destination} की ओर बाएं मुड़ें</string><!--At the roundabout turn left towards {destination}-->
				<key>name</key>
				<string>चौराहे पर {way_name} पर बाएं मुड़ें</string><!--At the roundabout turn left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>चौराहे पर दाएं मुड़ें</string><!---At the roundabout turn right-->
				<key>destination</key>
				<string>चौराहे पर दाएं मुड़ें {destination} की ओर</string><!--At the roundabout turn right towards {destination}-->
				<key>name</key>
				<string>चौराहे पर {way_name} पर दाएं मुड़ें</string><!--At the roundabout turn right onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>चौराहे पर सीधे चलते रहें</string><!--At the roundabout continue straight-->
				<key>destination</key>
				<string>चौराहे पर सीधे {destination} की ओर बढ़ते रहें</string><!--At the roundabout continue straight towards {destination}-->
				<key>name</key>
				<string>चौराहे पर सीधे {way_name} पर चलते रहें</string><!--At the roundabout continue straight onto {way_name}-->
			</dict>
		</dict>
		<key>turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>दायें मुड़ें</string><!--Make a {modifier}-->
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Make a {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} की तरफ़ {modifier} मुड़ें</string><!--Make a {modifier} onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बांए मुड़िए</string>
				<key>destination</key>
				<string>{गंतव्य} की ओर बाएं मुड़ें</string><!--Turn left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाएं मुड़ें</string><!--Turn left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दांए मुड़िए</string>
				<key>destination</key>
				<string>{गंतव्य} की ओर दाएं मुड़ें</string><!--Turn right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर दाएं मुड़ें</string><!--Turn right onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string> सीधे जाइए</string><!--Go straight-->
				<key>destination</key>
				<string>सीधे {गंतव्य} की ओर जाएं</string><!--Go straight towards {destination}-->
				<key>name</key>
				<string>सीधे {way_name} पर जाएं</string><!--Go straight onto {way_name}-->
			</dict>
		</dict>
		<key>use lane</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}</string>
			</dict>
			<key>no_lanes</key>
			<dict>
				<key>default</key>
				<string>सीधा जारी रखें</string><!--Continue straight-->
			</dict>
		</dict>
	</dict>
</dict>
</plist>
