<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta</key>
	<dict>
		<key>capitalizeFirstLetter</key>
		<true/>
	</dict>
	<key>v5</key>
	<dict>
		<key>arrive</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर पहुंच गए हैं </string>  <!-- You have arrived at your {nth} destination-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>आप बाईं ओर अपने {end} गंतव्य पर पहुंच गए हैं</string><!--You have arrived at your {nth} destination, on the left-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>आप दाईं ओर अपने {end} गंतव्य पर पहुंच गए हैं</string> <!--You have arrived at your {nth} destination, on the right-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>आप बाईं ओर अपने {end} गंतव्य पर पहुंच गए हैं </string> <!--You have arrived at your {nth} destination, on the left-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर, दाईं ओर पहुंच गए हैं</string><!--You have arrived at your {nth} destination, on the right-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर, बाईं ओर आ चुके हैं </string><!--You have arrived at your {nth} destination, on the left-->
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर, दाईं ओर पहुंच गए हैं</string><!--You have arrived at your {nth} destination, on the right-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>आप अपने {nth} गंतव्य पर सीधे पहुंच गए हैं</string><!--You have arrived at your {nth} destination, straight ahead-->
			</dict>
		</dict>
		<key>constants</key>
		<dict>
			<key>direction</key>
			<dict>
				<key>east</key>
				<string>पूर्व</string>
				<key>north</key>
				<string>उत्तर</string>
				<key>northeast</key>
				<string>नॉर्थ ईस्ट</string>
				<key>northwest</key>
				<string>उत्तर पश्चिम</string>
				<key>south</key>
				<string>दक्षिण</string>
				<key>southeast</key>
				<string>दक्षिण पूर्व</string>
				<key>southwest</key>
				<string>दक्षिण पश्चिम</string>
				<key>west</key>
				<string>पश्चिम</string>
			</dict>
			<key>lanes</key>
			<dict>
				<key>ox</key>
				<string>बाईं ओर रहें</string>
				<key>oxo</key>
				<string>बाएँ या दाएँ रखें</string><!--Keep left or right-->
				<key>xo</key>
				<string>दाईं ओर चलते रहें</string><!--Keep right-->
				<key>xox</key>
				<string>बीच में रखें</string><!--Keep in the middle-->
			</dict>
			<key>modifier</key>
			<dict>
				<key>left</key>
				<string>बाएं</string>
				<key>right</key>
				<string>दायें</string>
				<key>sharp left</key>
				<string>पूर्ण बाएं </string><!--sharp left-->
				<key>sharp right</key>
				<string>पूर्ण दायें</string><!--sharp right-->
				<key>slight left</key>
				<string>थोड़ा बाएं</string><!--slight left-->
				<key>slight right</key>
				<string>slight right</string>थोड़ा दायें<!---->
				<key>straight</key>
				<string>सीधा</string>
				<key>uturn</key>
				<string>यू टर्न</string>
			</dict>
			<key>ordinalize</key>
			<dict>
				<key>1</key>
				<string>1st</string>
				<key>10</key>
				<string>10th</string>
				<key>2</key>
				<string>2nd</string>
				<key>3</key>
				<string>3rd</string>
				<key>4</key>
				<string>4th</string>
				<key>5</key>
				<string>5th</string>
				<key>6</key>
				<string>6th</string>
				<key>7</key>
				<string>7th</string>
				<key>8</key>
				<string>8th</string>
				<key>9</key>
				<string>9th</string>
			</dict>
		</dict>
		<key>continue</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें </string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Turn {modifier} towards {destination}-->
				<key>exit</key>
				<string>{way_name} पर {modifier} मुड़ें</string><!--Turn {modifier} onto {way_name}-->
				<key>name</key>
				<string>{way_name} पर बने रहने के लिए {modifier} मुड़ें</string><!--Turn {modifier} to stay on {way_name}-->
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>पूरी तरह से बाईं ओर ले जाएं</string><!--Make a sharp left-->
				<key>destination</key>
				<string>{destination} की ओर ठीक बाईं ओर मुड़ें</string><!--Make a sharp left towards {destination}-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए ठीक बाईं ओर मुड़ें</string><!--Make a sharp left to stay on {way_name}-->
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>पूरी तरह से दाईं ओर ले जाएं </string><!--Make a sharp right-->
				<key>destination</key>
				<string> {destination} की ओर ठीक दाईं ओर मुड़ें  {destination}</string><!--Make a sharp right towards-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए ठीक दाईं ओर मुड़ें </string><!--Make a sharp right to stay on {way_name}-->
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>थोड़ा बाईं ओर ले जाएं</string><!--Make a slight left-->
				 <key>destination</key>
				<string>{destination} की ओर थोड़ा बाईं ओर मुड़ें</string><!--Make a slight left towards {destination}-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए थोड़ा बाईं ओर मुड़ें</string><!--Make a slight left to stay on {way_name}-->
				</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>थोड़ा से दाईं ओर ले जाएं </string><!--Make a slight right-->
				<key>destination</key>
				<string> {destination} की ओर थोड़ा दाईं ओर मुड़ें  {destination}</string><!--Make a slight right towards-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए थोड़ा दाईं ओर मुड़ें </string><!--Make a slight right to stay on {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>सीधा जारी रखें</string><!--Continue straight-->
				<key>destination</key>
				<string>{destination} की ओर बढ़ते रहें</string><!--Continue towards {destination}-->
				<key>distance</key>
				<string>{distance} सीधे जाते रहे</string><!--Continue straight for {distance}-->
				<key>name</key>
				<string>{way name} पर बने रहने के लिए सीधे चलते रहें</string><!--Continue straight to stay on {way_name}-->
				<key>namedistance</key>
				<string>{way_name} पर {distance} के लिए जारी रखें</string><!--Continue on {way_name} for {distance}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>एक यू - टर्न लें</string>
				<key>destination</key>
				<string>{destination} की ओर यू-टर्न लें </string><!--Make a U-turn towards {destination}-->
				<key>name</key>
				<string>यू-टर्न लें और {way_name} पर जारी रखें</string><!--Make a U-turn and continue on {way_name}-->
			</dict>
		</dict>
		<key>depart</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>हेड{direction}</string>
				<key>name</key>
				<string>/*{way_name} पर {direction} पर जाएं*/</string><!--Head {direction} on {way_name}-->
			<<!--->/dict>
		</dict>
		<key>en</ of road</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें </string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Turn {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} पर {modifier} मुड़ें</string><--!Turn {modifier} onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>सीधे चलते रहें</string><!--Continue straight-->
				<key>destination</key>
				<string>सीधे {गंतव्य} की ओर बढ़ते रहें {destination}</string><!--Continue straight towards-->
				<key>name</key>
				<string>सीधे {way_name} पर चलते रहें</string><!--Continue straight onto {way_name}-->
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>सड़क के अंत में यू-टर्न लें</string><!--Make a U-turn at the end of the road-->
				<key>destination</key>
				<string>सड़क के अंत में {गंतव्य} की ओर यू-टर्न लें</string><!--Make a U-turn towards {destination} at the end of the road-->
				<key>name</key>
				<string>सड़क के अंत में {way_name} पर यू-टर्न लें</string><!--Make a U-turn onto {way_name} at the end of the road-->
			</dict>
		</dict>
		<key>exit rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Make a {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} की तरफ़ {modifier} मुड़ें</string><!--Make a {modifier} onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बाएं मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर बाएं मुड़ें</string><!--Turn left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाएं मुड़ें</string><!--Turn left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दायें मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर दाएं मुड़ें</string><!--Turn right towards {destination}-->
				<key>name</key>
				<string>{way_name} पर दाएं मुड़ें</string><!--Turn right onto {way_name}-->
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>आगे सीधे बढ़ो</string><!--Go straight-->
				<key>destination</key>
				<string>सीधे {destination} की ओर जाएं</string><!--Go straight towards {destination}-->
				<key>name</key>
				<string>सीधे {way_name} की ओर जाएं</string><!--Go straight onto {way_name}-->
			</dict>
		</dict>
		<key>exit roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{modifier} मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर {modifier} मुड़ें</string><!--Make a {modifier} towards {destination}-->
				<key>name</key>
				<string>{way_name} की तरफ़ {modifier} मुड़ें</string><!--Make a {modifier} onto {way_name}-->
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>बाएं मुड़ें</string>
				<key>destination</key>
				<string>{destination} की ओर बाएं मुड़ें</string><!--Turn left towards {destination}-->
				<key>name</key>
				<string>{way_name} पर बाएं मुड़ें</string><!--Turn left onto {way_name}-->
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>दायें मुड़ें</string>
				<key>destination</key>
				<string>"{destination} की ओर दाएं मुड़ें"</string><!--Turn right towards {destination} -->
				<key>name</key>
				<string>Turn right onto {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Go straight</string>
				<key>destination</key>
				<string>Go straight towards {destination}</string>
				<key>name</key>
				<string>Go straight onto {way_name}</string>
			</dict>
		</dict>
		<key>fork</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Keep {modifier} at the fork</string>
				<key>destination</key>
				<string>Keep {modifier} at the fork towards {destination}</string>
				<key>name</key>
				<string>Keep {modifier} at the fork onto {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Take a sharp left at the fork</string>
				<key>destination</key>
				<string>Take a sharp left at the fork towards {destination}</string>
				<key>name</key>
				<string>Take a sharp left at the fork onto {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Take a sharp right at the fork</string>
				<key>destination</key>
				<string>Take a sharp right at the fork towards {destination}</string>
				<key>name</key>
				<string>Take a sharp right at the fork onto {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Keep left at the fork</string>
				<key>destination</key>
				<string>Keep left at the fork towards {destination}</string>
				<key>name</key>
				<string>Keep left at the fork onto {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Keep right at the fork</string>
				<key>destination</key>
				<string>Keep right at the fork towards {destination}</string>
				<key>name</key>
				<string>Keep right at the fork onto {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Make a U-turn</string>
				<key>destination</key>
				<string>Make a U-turn towards {destination}</string>
				<key>name</key>
				<string>Make a U-turn onto {way_name}</string>
			</dict>
		</dict>
		<key>merge</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Merge {modifier}</string>
				<key>destination</key>
				<string>Merge {modifier} towards {destination}</string>
				<key>name</key>
				<string>Merge {modifier} onto {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Merge left</string>
				<key>destination</key>
				<string>Merge left towards {destination}</string>
				<key>name</key>
				<string>Merge left onto {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Merge right</string>
				<key>destination</key>
				<string>Merge right towards {destination}</string>
				<key>name</key>
				<string>Merge right onto {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Merge left</string>
				<key>destination</key>
				<string>Merge left towards {destination}</string>
				<key>name</key>
				<string>Merge left onto {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Merge right</string>
				<key>destination</key>
				<string>Merge right towards {destination}</string>
				<key>name</key>
				<string>Merge right onto {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Make a U-turn</string>
				<key>destination</key>
				<string>Make a U-turn towards {destination}</string>
				<key>name</key>
				<string>Make a U-turn onto {way_name}</string>
			</dict>
		</dict>
		<key>modes</key>
		<dict>
			<key>ferry</key>
			<dict>
				<key>default</key>
				<string>Take the ferry</string>
				<key>destination</key>
				<string>Take the ferry towards {destination}</string>
				<key>name</key>
				<string>Take the ferry {way_name}</string>
			</dict>
		</dict>
		<key>new name</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Continue {modifier}</string>
				<key>destination</key>
				<string>Continue {modifier} towards {destination}</string>
				<key>name</key>
				<string>Continue {modifier} onto {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Take a sharp left</string>
				<key>destination</key>
				<string>Take a sharp left towards {destination}</string>
				<key>name</key>
				<string>Take a sharp left onto {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Take a sharp right</string>
				<key>destination</key>
				<string>Take a sharp right towards {destination}</string>
				<key>name</key>
				<string>Take a sharp right onto {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Continue slightly left</string>
				<key>destination</key>
				<string>Continue slightly left towards {destination}</string>
				<key>name</key>
				<string>Continue slightly left onto {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Continue slightly right</string>
				<key>destination</key>
				<string>Continue slightly right towards {destination}</string>
				<key>name</key>
				<string>Continue slightly right onto {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Continue straight</string>
				<key>destination</key>
				<string>Continue towards {destination}</string>
				<key>name</key>
				<string>Continue onto {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Make a U-turn</string>
				<key>destination</key>
				<string>Make a U-turn towards {destination}</string>
				<key>name</key>
				<string>Make a U-turn onto {way_name}</string>
			</dict>
		</dict>
		<key>notification</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Continue {modifier}</string>
				<key>destination</key>
				<string>Continue {modifier} towards {destination}</string>
				<key>name</key>
				<string>Continue {modifier} onto {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Make a U-turn</string>
				<key>destination</key>
				<string>Make a U-turn towards {destination}</string>
				<key>name</key>
				<string>Make a U-turn onto {way_name}</string>
			</dict>
		</dict>
		<key>off ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Take the ramp</string>
				<key>destination</key>
				<string>Take the ramp towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit}</string>
				<key>exit_destination</key>
				<string>Take exit {exit} towards {destination}</string>
				<key>name</key>
				<string>Take the ramp onto {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the left</string>
				<key>destination</key>
				<string>Take the ramp on the left towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit} on the left</string>
				<key>exit_destination</key>
				<string>Take exit {exit} on the left towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the left onto {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the right</string>
				<key>destination</key>
				<string>Take the ramp on the right towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit} on the right</string>
				<key>exit_destination</key>
				<string>Take exit {exit} on the right towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the right onto {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the left</string>
				<key>destination</key>
				<string>Take the ramp on the left towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit} on the left</string>
				<key>exit_destination</key>
				<string>Take exit {exit} on the left towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the left onto {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the right</string>
				<key>destination</key>
				<string>Take the ramp on the right towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit} on the right</string>
				<key>exit_destination</key>
				<string>Take exit {exit} on the right towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the right onto {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the left</string>
				<key>destination</key>
				<string>Take the ramp on the left towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit} on the left</string>
				<key>exit_destination</key>
				<string>Take exit {exit} on the left towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the left onto {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the right</string>
				<key>destination</key>
				<string>Take the ramp on the right towards {destination}</string>
				<key>exit</key>
				<string>Take exit {exit} on the right</string>
				<key>exit_destination</key>
				<string>Take exit {exit} on the right towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the right onto {way_name}</string>
			</dict>
		</dict>
		<key>on ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Take the ramp</string>
				<key>destination</key>
				<string>Take the ramp towards {destination}</string>
				<key>name</key>
				<string>Take the ramp onto {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the left</string>
				<key>destination</key>
				<string>Take the ramp on the left towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the left onto {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the right</string>
				<key>destination</key>
				<string>Take the ramp on the right towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the right onto {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the left</string>
				<key>destination</key>
				<string>Take the ramp on the left towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the left onto {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the right</string>
				<key>destination</key>
				<string>Take the ramp on the right towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the right onto {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the left</string>
				<key>destination</key>
				<string>Take the ramp on the left towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the left onto {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Take the ramp on the right</string>
				<key>destination</key>
				<string>Take the ramp on the right towards {destination}</string>
				<key>name</key>
				<string>Take the ramp on the right onto {way_name}</string>
			</dict>
		</dict>
		<key>phrase</key>
		<dict>
			<key>name and ref</key>
			<string>{name} ({ref})</string>
			<key>one in distance</key>
			<string>In {distance}, {instruction_one}</string>
			<key>two linked</key>
			<string>{instruction_one}, then {instruction_two}</string>
			<key>two linked by distance</key>
			<string>{instruction_one}, then, in {distance}, {instruction_two}</string>
		</dict>
		<key>rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>Enter the rotary</string>
					<key>destination</key>
					<string>Enter the rotary and exit towards {destination}</string>
					<key>name</key>
					<string>Enter the rotary and exit onto {way_name}</string>
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>Enter the rotary and take the {exit_number} exit</string>
					<key>destination</key>
					<string>Enter the rotary and take the {exit_number} exit towards {destination}</string>
					<key>name</key>
					<string>Enter the rotary and take the {exit_number} exit onto {way_name}</string>
				</dict>
				<key>name</key>
				<dict>
					<key>default</key>
					<string>Enter {rotary_name}</string>
					<key>destination</key>
					<string>Enter {rotary_name} and exit towards {destination}</string>
					<key>name</key>
					<string>Enter {rotary_name} and exit onto {way_name}</string>
				</dict>
				<key>name_exit</key>
				<dict>
					<key>default</key>
					<string>Enter {rotary_name} and take the {exit_number} exit</string>
					<key>destination</key>
					<string>Enter {rotary_name} and take the {exit_number} exit towards {destination}</string>
					<key>name</key>
					<string>Enter {rotary_name} and take the {exit_number} exit onto {way_name}</string>
				</dict>
			</dict>
		</dict>
		<key>roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>Enter the roundabout</string>
					<key>destination</key>
					<string>Enter the roundabout and exit towards {destination}</string>
					<key>name</key>
					<string>Enter the roundabout and exit onto {way_name}</string>
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>Enter the roundabout and take the {exit_number} exit</string>
					<key>destination</key>
					<string>Enter the roundabout and take the {exit_number} exit towards {destination}</string>
					<key>name</key>
					<string>Enter the roundabout and take the {exit_number} exit onto {way_name}</string>
				</dict>
			</dict>
		</dict>
		<key>roundabout turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>At the roundabout make a {modifier}</string>
				<key>destination</key>
				<string>At the roundabout make a {modifier} towards {destination}</string>
				<key>name</key>
				<string>At the roundabout make a {modifier} onto {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>At the roundabout turn left</string>
				<key>destination</key>
				<string>At the roundabout turn left towards {destination}</string>
				<key>name</key>
				<string>At the roundabout turn left onto {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>At the roundabout turn right</string>
				<key>destination</key>
				<string>At the roundabout turn right towards {destination}</string>
				<key>name</key>
				<string>At the roundabout turn right onto {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>At the roundabout continue straight</string>
				<key>destination</key>
				<string>At the roundabout continue straight towards {destination}</string>
				<key>name</key>
				<string>At the roundabout continue straight onto {way_name}</string>
			</dict>
		</dict>
		<key>turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Make a {modifier}</string>
				<key>destination</key>
				<string>Make a {modifier} towards {destination}</string>
				<key>name</key>
				<string>Make a {modifier} onto {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Turn left</string>
				<key>destination</key>
				<string>Turn left towards {destination}</string>
				<key>name</key>
				<string>Turn left onto {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Turn right</string>
				<key>destination</key>
				<string>Turn right towards {destination}</string>
				<key>name</key>
				<string>Turn right onto {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Go straight</string>
				<key>destination</key>
				<string>Go straight towards {destination}</string>
				<key>name</key>
				<string>Go straight onto {way_name}</string>
			</dict>
		</dict>
		<key>use lane</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}</string>
			</dict>
			<key>no_lanes</key>
			<dict>
				<key>default</key>
				<string>Continue straight</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
